@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.taskColumn {
  @include transition(max-width);
  width: 100%;
  max-width: 282px;
  max-height: 700px;
  background-color: $gray;
  padding: 12px;
  border-radius: 10px;
  overflow: auto;

  @include netbook {
    max-width: 48%;
  }

  @include mobileMedium {
    max-width: 100%;
  }

  > h2 {
    margin-bottom: 15px;
  }

  > .taskColumn__link {
    text-decoration: none;
    color: inherit;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 8px;
      background-color: $white;
      margin-bottom: 15px;
      border-radius: 5px;
      cursor: pointer;

      &:hover > button {
        opacity: 1;
        visibility: visible;
      }

      > p {
        width: 90%;
        word-break: break-word;
        overflow-wrap: break-word;
      }

      > button {
        @include transition(all);

        opacity: 0;
        visibility: hidden;
        background-color: transparent;
        width: 10%;
        height: 20px;

        @include tabletLarge {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  > .taskColumn__form {
    > input {
      width: 100%;
      padding: 8px 8px;
      border-radius: 5px;
    }

    > .btn__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
}
