@import '@/assets/styles/variables';

.task__column {
  width: 282px;
  max-height: 700px;
  background-color: $gray;
  padding: 12px;
  border-radius: 10px;
  overflow: auto;

  > h2 {
    margin-bottom: 15px;
  }

  > a {
    text-decoration: none;
    color: inherit;

    > .task__name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 8px;
      background-color: $white;
      margin-bottom: 15px;
      border-radius: 5px;
      word-wrap: break-word;
      cursor: pointer;

      > button {
        background-color: transparent;
        width: 20px;
        height: 20px;
      }
    }
  }

  > .task__form {
    > input {
      width: 100%;
      padding: 8px 8px;
      border-radius: 5px;
    }

    > .btn__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
}
