@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.header {
  background-color: $header-footer-bg;

  > div {
    @include containerSettings;

    @include mobileSmall {
      justify-content: flex-end;
    }

    > .header__logo {
      font-size: 28px;
      line-height: 33px;
      color: $white;
      cursor: pointer;

      @include mobileSmall {
        display: none;
      }
    }
  }
}
