@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.footer {
  background-color: $header-footer-bg;

  > div {
    @include containerSettings;
    padding: 10px 15px;
    color: $white;
    gap: 15px 20px;

    @include mobileSmall {
      display: flex;
      flex-direction: column;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 15px 36px;
    }
  }
}
