@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

$default-font: 'Roboto', sans-serif;
$header-footer-bg: #0067a3;
$main-bg: #0079bf;
$black: #000000;
$white: #ffffff;
$gray: #ebecf0;
$font-gray-color: #5e6c84;
